body {
    background-color: lightblue !important;
}

.board {
    width: 90%;
}

.list {
    max-width: 20%;
    min-width: 200px;
    width: auto;
    background-color: #efefef;
    margin: 10px;
    padding: 10px;
    float: left;
    border-radius: 4px;
}

.card {
    width: 80%;
    margin: 10px auto;
    padding: 5px 2px;
    background-color: #bcbcbc;
}